$color-saffron: #F6BC25;
$color-congress-blue: #004A80;
$color-dusty-gray: #999999;
$color-mercury: #E6E6E6;
$color-white: white;
$color-black: black;
$color-monza: #DC0015;
$color-cream-can: #F2DA56;
$color-tundora: #4A4A4A;
$color-alabaster: #F8F8F8;
$color-sycamore: #A6953B;
