@import 'src/styles/global';
@import 'src/styles/colors';

.ltv-home {
  &__reverse-email {
    background-image: linear-gradient(0deg, $color-mercury 0%, $color-white 100%);

    &-description {
      font-size: 1.4em;
      color: $color-tundora;
    }
  }

  &__list {
    display: flex;

    &-number {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      color: theme-color('warning');
      font-size: 2em;
      min-width: 4rem;
      min-height: 4rem;
      border-radius: 50%;
      margin-right: .5em;
      background-color: theme-color('primary');
    }

    @include media-breakpoint-up(xs) {
      align-items: flex-start;
    }
  
    @include media-breakpoint-up(md) {
      align-items: center;

      &-number {
        font-size: 3em;
        min-width: 6rem;
        min-height: 6rem;
      }
    }
  }
}
